.pagination span{
    -moz-user-select: none;
    -webkit-user-select: none;
    border:1px solid black;
    border-radius:5px;
    cursor: pointer;
}

.selectedPage {
    background-color: black;
    color: white;
}