.layout {
    width: 100%;
    margin-bottom: 5px;
}
/* .foto {
    float: left;
} */

.foto::after {
    clear:both ;
    content:"";
}



.foto img{
    width: 100px;
    height: 100px;  
    margin-right: 5px;
}